<div class="panel panel-default panel-shadow">
    <div class="panel-heading">Registration</div>
    <div class="panel-body">
        <form class="form-horizontal" autocomplete="off" name="registration_form"  ng-submit="submit(registration_form.$valid)" novalidate>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : registration_form.email.$invalid && registration_form.email.$touched, 'has-success': registration_form.email.$valid && registration_form.email.$touched}">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="user.email" ng-required="true">
                    <div ng-show="registration_form.email.$touched" ng-messages="registration_form.email.$error" ng-messages-multiple="true" role="alert">
                        <div class="help-block" ng-message="required">The email is required.</div>
                        <div class="help-block" ng-message="valid">The email must be a valid email address.</div>
                    </div>
                    <span ng-show="registration_form.email.$touched" ng-class="registration_form.email.$invalid && registration_form.email.$touched ? 'glyphicon-warning-sign' : 'glyphicon-ok'" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : registration_form.username.$invalid && registration_form.username.$touched, 'has-success': registration_form.username.$valid && registration_form.username.$touched}">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="username" id="username" ng-minlength="6" ng-maxlength="16" ng-pattern="/^[0-9a-zA-Z]+$/" placeholder="Username" ng-model="user.username" ng-required="true">
                    <div ng-show="registration_form.username.$touched" ng-messages="registration_form.username.$error" ng-messages-multiple="true" role="alert">
                        <div class="help-block" ng-message="required">The username is required.</div>
                        <div class="help-block" ng-message="minlength">The minimum username length is 6 characters.</div>
                        <div class="help-block" ng-message="maxlength">The maximum username length is 16 characters.</div>
                        <div class="help-block" ng-message="pattern">The username can only contain letters (a-z, A-Z) or numbers.</div>
                    </div>
                    <span ng-show="registration_form.username.$touched" ng-class="registration_form.username.$invalid && registration_form.username.$touched ? 'glyphicon-warning-sign' : 'glyphicon-ok'" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : registration_form.password_first.$invalid && registration_form.password_first.$touched, 'has-success': registration_form.password_first.$valid && registration_form.password_first.$touched}">
                <label for="password_first" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password_first" id="password_first" placeholder="Password" ng-minlength="6" ng-maxlength="16" ng-model="user.password_first" ng-required="true">
                    <div ng-show="registration_form.password_first.$touched" ng-messages="registration_form.password_first.$error" ng-messages-multiple="true" role="alert">
                        <div class="help-block" ng-message="required">The password is required.</div>
                        <div class="help-block" ng-message="minlength">The minimum password length is 6 characters.</div>
                        <div class="help-block" ng-message="maxlength">The maximum password length is 16 characters.</div>
                        <div class="help-block" ng-message="equals">The two password must be equals!</div>
                    </div>
                    <span ng-show="registration_form.password_first.$touched" ng-class="registration_form.password_first.$invalid && registration_form.password_first.$touched ? 'glyphicon-warning-sign' : 'glyphicon-ok'" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : registration_form.password_second.$invalid && registration_form.password_second.$touched, 'has-success': registration_form.password_second.$valid && registration_form.password_second.$touched}">
                <label for="password_second" class="col-sm-2 control-label">Password again</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password_second" id="password_second" placeholder="Password again" ng-minlength="6" ng-maxlength="16" ng-model="user.password_second" ng-required="true" equals="{{user.password_first}}">
                    <div ng-show="registration_form.password_second.$touched" ng-messages="registration_form.password_second.$error" ng-messages-multiple="true" role="alert">
                        <div class="help-block" ng-message="required">The password is required.</div>
                        <div class="help-block" ng-message="minlength">The minimum password length is 6 characters.</div>
                        <div class="help-block" ng-message="maxlength">The maximum password length is 16 characters.</div>
                        <div class="help-block" ng-message="equals">The two password must be equals!</div>
                    </div>
                    <span ng-show="registration_form.password_second.$touched" ng-class="registration_form.password_second.$invalid && registration_form.password_second.$touched ? 'glyphicon-warning-sign' : 'glyphicon-ok'" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div><div class="form-group">
            <label class="col-sm-2 control-label">Race</label>
            <div class="col-sm-10">
                <div class="text-center race-paging-holder">
                    <button class="btn btn-default btn-no-outline race-paging-btn"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                    <span class="race-name-holder">~ <span>Human</span> ~</span>
                    <button class="btn btn-default btn-no-outline race-paging-btn"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur urna metus, blandit at dui nec, tincidunt semper lectus. Quisque ligula nisi, volutpat ut posuere ac, sodales in diam. Vivamus dapibus enim et hendrerit ornare. Nulla vestibulum et purus at rutrum. Morbi faucibus sem id mi gravida dignissim. Mauris pharetra posuere ullamcorper. Fusce molestie commodo auctor. Sed mattis purus risus, at semper risus varius non. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut at pretium purus, a aliquam est. Aenean sed metus dui. Nullam a posuere magna, eu vestibulum ex. Sed eu neque neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi et nibh dui.
                </div>
            </div>
        </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 text-center">
                    <button type="submit" class="btn btn-default" ng-disabled="userForm.$invalid">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>