<div>
    <dl class="inventory-popup-definition-list">
        <dt>Name:</dt>
        <dd ng-bind="::item.definition.name"></dd>
        <dt>Type:</dt>
        <dd ng-bind="::item.definition.type | capitalize:'first' | replace:'_':' '"></dd>
        <dt>Weight:</dt>
        <dd ng-bind="::item.definition.weight + ' kg'"></dd>
        <dt ng-if="item.definition.allRequirements.length > 0">Requirements:</dt>
        <dd ng-repeat="requirement in item.definition.allRequirements" ng-bind="::requirement.amount + ' - ' + (requirement.attribute | capitalize:'first' | replace:'_':' ')">ss</dd>
        <dt ng-if="item.definition.allModifiers.length > 0">Modifiers:</dt>
        <dd ng-repeat="modifier in item.definition.allModifiers" ng-bind="::modifier.amount + ' - ' + (modifier.attribute | capitalize:'first' | replace:'_':' ')">ss</dd>
    </dl>
</div>