<div class="panel panel-default panel-shadow">
    <div class="panel-heading">Knowledge base</div>
    <div class="panel-body">
        <div>
            <h3 style="margin-top: 0;">Basic attributes</h3>
            <ul class="media-list">
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Movement point (MVP)</h4>
                        <p>
                            How many things can a character do under a turn. It's used up for every movement.
                            A new human character's movement points is 30 and it regenerates 1 points / turn.
                        </p>
                    </div>
                </li>
            </ul>
            <h3 style="margin-top: 0;">Combat attributes</h3>
            <ul class="media-list">
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Life points (LP)</h4>
                        <p>
                            Life points shows the amount of damage a character can receive before dying. If the character's LP reach 0 then it dies.
                            The base life point is 15 + half of the vitality and endurance attributes.
                            A new human character's life points is 30 and it regenerates 3 points / turn.
                        </p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Mana points (MP)</h4>
                        <p>
                            Mana points are used for spellcasting. A starting character's MP is 0 + half of the intelligence, wisdom and willpower
                            attributes. A new human character's mana points is 30 and it regenerates 3 points / turn.
                        </p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Initiation</h4>
                        <p>
                            The initiation attribute determines who attack first in combat. The starting initiation is 10 + half of the swiftness and perception attributes.
                            A new human character's initiation points is 20.
                        </p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Attack</h4>
                        <p>
                            The attack attribute determines the chance of damaging the enemy in meele combat. The starting attack is 10 + half of the dexterity and swiftness.
                            A new human character's attack points is 20.
                        </p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Aiming</h4>
                        <p>
                            The attack attribute determines the chance of damaging the enemy in ranged combat. The starting aiming is 10 + half of the dexterity and perception.
                            A new human character's aiming points is 20.
                        </p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Defense</h4>
                        <p>
                            The defense attribute determines the chance of avoiding the opponents attacks in combat. The starting defense is 10 + half of the endurance and dexterity.
                            A new human character's defense points is 20.
                        </p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Spell resistance</h4>
                        <p>
                            The spell resistance attribute determines the chance of avoiding or decreasing the opponents magical attacks or damage in combat. The starting spell resistance
                            is 10 + half of the willpower and intelligence. A new human character's spell resistance points is 20.
                        </p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Damage</h4>
                        <p>
                            The damage attribute determines the amount of casualty the character can deal to it's opponent in melee combat. The starting damage is 1 + the quarter of the strength
                            attribute. A new human character's damage is 3.
                        </p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Ranged damage</h4>
                        <p>
                            The damage attribute determines the amount of casualty the character can deal to it's opponent in ranged combat. The starting ranged damage is 1 + the quarter of the dexterity
                            attribute. A new human character's damage is 3.
                        </p>
                    </div>
                </li>
            </ul>
            <h3 style="margin-top: 0;">Primary attributes</h3>
            <h4 style="margin-top: 0;font-size:21px;">Physical primary attributes</h4>
            <ul class="media-list">
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Strength</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Perception</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Dexterity</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Swiftness</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Vitality</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Endurance</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Beauty</h4>
                        <p>...</p>
                    </div>
                </li>
                <h4 style="margin-top: 0;font-size:21px;">Mental primary attributes</h4>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Intelligence</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Wisdom</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Willpower</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Charisma</h4>
                        <p>...</p>
                    </div>
                </li>
            </ul>

            <h3 style="margin-top: 0;">Skills</h3>
            <ul class="media-list">
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Two handed crushing weapons</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">One handed crushing weapons</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Two handed axes</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">One handed axes</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Throwing weapons</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Fistfight</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Shortswords</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Longswords</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Polearms</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Daggers</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Longbows</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Shortbows</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Crossbows</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Robe armor</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Light armor</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Heavy armor</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Armorless defense</h4>
                        <p>...</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Shield defense</h4>
                        <p>...</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>