<div class="col-xs-4 attribute-list-column-{{columnAlign}}">
    <ul class="list-group attribute-list-group">
        <li class="list-group-item attribute-list-item" ng-repeat="(attributeName,attribute) in attributes" ng-if="$index % 3 === columnAlignId">
            <div>
                <span ng-if="attribute.maximum > 0" class="badge attribute-badge pull-right" popover-template="attributePopover.templateUrl" popover-trigger="mouseenter" popover-placement="right">{{attribute.actual}} / {{attribute.maximum}}</span>
                <span ng-if="attribute.maximum == 0" class="badge attribute-badge pull-right" popover-template="attributePopover.templateUrl" popover-trigger="mouseenter" popover-placement="right">{{attribute.actual}}</span>
                {{attributeNameMap[attributeName]}}
            </div>
            <div class="row">
                <div class="col-md-3" style="padding-right:0;">
                    <div style="margin-top:7px;">0 / 10</div>
                </div>
                <div class="col-md-9" style="padding-left:0;">
                    <!-- Skill xp text -->
                    <!-- <span style="position: absolute;font-size: 10px;width: 100%;text-align: center;padding-right: 20px;top: 9px;">100/1000</span> -->
                    <div class="progress" style="margin-top:10px;margin-bottom:0; height: 10px;">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10" style="width:0%; background-color: #B75555;"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>