<div class="col-xs-4 attribute-list-column-{{columnAlign}}">
    <ul class="list-group attribute-list-group">
        <li class="list-group-item attribute-list-item" ng-repeat="(attributeName,attribute) in attributes" ng-if="$index % 3 === columnAlignId">
            <span ng-bind="attribute.maximum > 0 ? attribute.actual + ' / ' + attribute.maximum : attribute.actual" class="badge attribute-badge pull-right" popover-template="attributePopover.templateUrl" popover-trigger="mouseenter" popover-placement="right">{{attribute.actual}} / {{attribute.maximum}}</span>
            <span ng-bind="attributeNameMap[attributeName]" />
            <div class="row">
                <div class="col-xs-3 attribute-progress-holder">
                    <div class="attribute-progress">0 / 10</div>
                </div>
                <div class="col-xs-9 attribute-progress-bar-holder">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>