/** Containers **/
.container {
    font-family: 'Open Sans', sans-serif;
    background-color: #2A3134;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0;
}

body {
    background-color: #272A2B;
}

/** Navbar **/

.navbar {
    margin: 0;
}

.navbar-collapse {
    color:white;
    padding:0;
}

.navbar-button-holder {
    height: 50px;
    line-height: 45px;
    float: right;
}

/** Panel **/
.panel {
    background-color: #F2E9D0;
    margin: 15px;
}

.panel-shadow {
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 3px 3px 1px rgba(0,0,0,0.2);
}

.panel-default > .panel-heading {
    background-color: rgba(0,1,1,0.1);
    font-weight: 700;
    font-size: 17px;
}

.panel-default > .panel-heading:not(.no-border) {
    border-bottom: 1px solid #aaa;
}

/** Sticky footer **/
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -50px;
    background-color: #2A3134;
    border: 1px solid rgba(0,0,0,0.2);
    padding-top: 0;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 50px;
    background-color: #2A3134;
}

.site-footer {
    padding: 0 15px;
    border-left: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
}

html, body, .container {
    height: 100%;
}

/** News **/
.news-title {
    font-size: 16 px;
    font-weight: 700;
    margin: 0;
}

.news-divider {
    border-color: gray;
}

.news-subtitle {
    font-size: 12px;
}

.news-title-holder {
    margin-bottom: 10px;
}

.news-icon {
    width:32px;
    height:32px;
    float: left;
    margin-right: 5px;
}

/** Button **/
.btn-default:hover {
    box-shadow: inset 0 1px 0 #9b413f;
    background: -webkit-linear-gradient(top,#851e1b,#6e1a16);
    background: linear-gradient(to bottom,#851e1b,#6e1a16);
    border: 1px solid #56120f;
    color: #fff!important;
}

.btn-default {
    height: 30px;
    line-height: 1.0;
    background: linear-gradient(to bottom,#f0ebd7,#e6dbc1);
    border: 1px solid #cebf93;
    color: #861f1e!important;
    box-shadow: none;
}

.btn-no-outline:focus {
    outline: 0 !important;
}

/** Login **/
.login-button-holder {
    text-align: center;
    margin-top: 15px;
}

.right-menu-button {
    width: 100%;
    margin-bottom: 10px;
}

.right-menu-button:last-child {
    margin-bottom: 0;
}

/** Registration **/

.race-paging-btn {
    padding-right: 8px;
    padding-left: 8px;
}

.race-paging-holder {
    margin-bottom: 10px;
}

.race-name-holder {
    margin-right: 30px;
    margin-left: 30px;
    font-weight: 700;
}

/** Form **/
.help-block {
    margin-bottom: 0;
}

/** Character **/
.attribute-list-item {
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.06);
    border-color: rgba(0,0,0, 0.3);
}

.attribute-list-item:last-child {
    margin-bottom: 0;
}

.attribute-list-group {
    margin-bottom: 0;
}

.attribute-list-column-left {
    padding-right: 5px;
}

.attribute-list-column-center {
    padding-right: 5px;
    padding-left: 5px;
}

.attribute-list-column-right {
    padding-left: 5px;
}

.attribute-list-name {
    margin-top: 15px;
}

.attribute-badge {
  padding: 7px;
  margin-top: -3px;
}

.attribute-list-item .popover {
    width: 250px;
}