<!DOCTYPE html>
<html>
    <head lang="en">
        <title>Swords &amp; Sorcery</title>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.css"/>
        <link rel="stylesheet" href="/css/custom.css"/>
    </head>
    <body>
        <div class="container" role="main">
            <div class="row">
                <div class="col-md-3">
                    Swords &amp; Sorcery
                </div>
                <div class="col-md-9">
                    Hello
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <h3>News</h3>
                </div>
                <div class="col-md-3">
                    <h4>Login</h4>
                </div>
            </div>
        </div>
    </body>
</html>