<!DOCTYPE html>
<html ng-app="swordssorcery">
    <head lang="en">
        <title>Swords &amp; Sorcery</title>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>
        <script src="/js/main.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/custom.css"/>
    </head>
    <body>
        <div class="container" role="main">
            <div class="page-wrap">
                <div class="row">
                    <nav class="navbar navbar-inverse" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">Swords &amp; Sorcery <small style="font-size: 65%; color: white;">v 0.01</small></a>
                            </div>
                            <div class="collapse navbar-collapse" style="color:white;" id="bs-example-navbar-collapse-1">
                                hello
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-md-9" style="padding-right: 0px;" ng-controller="NewsController">
                        <div class="panel panel-default panel-shadow">
                            <div class="panel-heading">News</div>
                            <div class="panel-body">
                                <div ng-repeat="news in newslist">
                                    <div>
                                        <div class="news-title-holder">
                                            <img ng-if="news.icon" class="news-icon" ng-src="/icon/{{news.icon}}.svg"/>
                                            <img ng-if="!news.icon" class="news-icon" src="/icon/buble.svg"/>
                                            <h5 class="news-title" ng-bind-html="news.title"></h5>
                                            <div class="news-subtitle" ng-bind="news.timestamp | date:'MMM dd, yyyy'"></div>
                                        </div>
                                        <div ng-bind-html="news.message"></div>
                                        <hr class="news-divider" ng-if="!$last" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-left: 0px;" ng-controller="LoginController">
                        <div class="panel panel-default panel-shadow" style="margin-left: 0;">
                            <div class="panel-heading">Login</div>
                            <div class="panel-body">
                                <form ng-submit="submit()">
                                    <div class="form-group">
                                        <label for="username">Email address</label>
                                        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username"/>
                                    </div>
                                    <div class="password">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password"/>
                                    </div>
                                    <div class="login-button-holder">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer">
                <div class="row">
                    <div class="col-md-12 text-right" style="height: 50px;">
                        <div style="margin: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0;margin-bottom: 0; height: 100%;" class="panel panel-default panel-shadow">
                            <div class="panel-body text-center" style="padding: 5px;">
                                <div>Created by Laxika.</div>
                                <div class="small">Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon" target="_blank">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC BY 3.0</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>