<!DOCTYPE html>
<html ng-app="swordssorcery">
    <head lang="en">
        <title>Swords &amp; Sorcery</title>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>
        <script src="/js/main.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/custom.css"/>
    </head>
    <body ng-controller="MainController">
        <div class="container" role="main">
            <div class="page-wrap">
                <div class="row">
                    <nav class="navbar navbar-inverse" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a ui-sref="index" class="navbar-brand" href="#">Swords &amp; Sorcery <small style="font-size: 65%; color: white;">v 0.01</small></a>
                            </div>
                            <div class="collapse navbar-collapse" style="color:white;" id="bs-example-navbar-collapse-1"  ui-view="top"></div>
                        </div>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-md-9" style="padding-right: 0px;" ui-view="main">
                    </div>
                    <div class="col-md-3" style="padding-left: 0px;">
                        <div ui-view="right"></div>
                        <div>
                            <div class="panel panel-default panel-shadow" style="margin-left: 0;">
                                <div class="panel-heading">Usefull links</div>
                                <div class="panel-body">
                                    <a class="btn btn-default login-create-account-button" ui-sref="knowledge">Knowledge base</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer">
                <div class="row">
                    <div class="col-md-12 text-right" style="height: 50px;">
                        <div style="margin: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0;margin-bottom: 0; height: 100%;" class="panel panel-default panel-shadow">
                            <div class="panel-body text-center" style="padding: 5px;">
                                <div>Created by Laxika.</div>
                                <div class="small">Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon" target="_blank">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC BY 3.0</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>