<div class="panel panel-default panel-shadow">
    <div class="panel-heading">Character</div>
    <div class="panel-body">
        <h4 class="attribute-list-name">General information</h4>
        <div class="row">
            <div class="col-md-4 attribute-list-column-left">
                <ul class="list-group attribute-list-group">
                    <li class="list-group-item attribute-list-item">
                        Name: <span class="pull-right" ng-bind="user.username"></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 attribute-list-column-right">
                <li class="list-group-item attribute-list-item">
                    Race: <span class="pull-right" ng-bind="user.race.name | capitalize:'first'"></span>
                </li>
            </div>
        </div>
        <h4 class="attribute-list-name">Basic attributes</h4>
        <div class="row">
            <attribute-list-column column-align="left" column-align-id="0" source="user.attribute.BASIC"></attribute-list-column>
            <attribute-list-column column-align="center" column-align-id="1" source="user.attribute.BASIC"></attribute-list-column>
            <attribute-list-column column-align="right" column-align-id="2" source="user.attribute.BASIC"></attribute-list-column>
        </div>

        <h4 class="attribute-list-name">Combat attributes</h4>
        <div class="row">
            <attribute-list-column column-align="left" column-align-id="0" source="user.attribute.COMBAT"></attribute-list-column>
            <attribute-list-column column-align="center" column-align-id="1" source="user.attribute.COMBAT"></attribute-list-column>
            <attribute-list-column column-align="right" column-align-id="2" source="user.attribute.COMBAT"></attribute-list-column>
        </div>

        <h4 class="attribute-list-name">General attributes <small>(Physical)</small></h4>
        <div class="row">
            <attribute-list-column column-align="left" column-align-id="0" source="user.attribute.GENERAL_PHYSICAL"></attribute-list-column>
            <attribute-list-column column-align="center" column-align-id="1" source="user.attribute.GENERAL_PHYSICAL"></attribute-list-column>
            <attribute-list-column column-align="right" column-align-id="2" source="user.attribute.GENERAL_PHYSICAL"></attribute-list-column>
        </div>

        <h4 class="attribute-list-name">General attributes <small>(Mental)</small></h4>
        <div class="row">
            <attribute-list-column column-align="left" column-align-id="0" source="user.attribute.GENERAL_MENTAL"></attribute-list-column>
            <attribute-list-column column-align="center" column-align-id="1" source="user.attribute.GENERAL_MENTAL"></attribute-list-column>
            <attribute-list-column column-align="right" column-align-id="2" source="user.attribute.GENERAL_MENTAL"></attribute-list-column>
        </div>

        <h4 class="attribute-list-name">Skills</h4>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group attribute-list-group">
                    <li class="list-group-item attribute-list-item" ng-repeat="(attributeName, attribute) in user.attribute.SKILL">
                        <div class="row">
                            <div class="col-md-4" style="padding-right:0;">
                                {{attributeName | replace:'_':' ' | capitalize}}:
                            </div>
                            <div class="col-md-1">
                                <span ng-if="attribute.maximum == 0" class="badge attribute-badge pull-right" popover-template="attributePopover.templateUrl" popover-trigger="mouseenter" popover-placement="right">{{attribute.actual}}</span>
                            </div>
                            <div class="col-md-7" style="padding-left:0;">
                                <span style="position: absolute;font-size: 10px;width: 100%;text-align: center;padding-right: 20px;top: 4px;">{{attribute.actualXp}}/{{attribute.nextLevelXp}}</span>
                                <div class="progress" style="margin-top:5px;margin-bottom:0; height: 10px;">
                                    <!-- 100 should bee xpTillNextLevel/100 -->
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ 100 - (attribute.nextLevelXp - attribute.actualXp) / (attribute.xpBetweenLevels / 100)}}%; background-color: #B75555;"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <h4 class="attribute-list-name">Other</h4>
        <div class="row">
            <div class="col-md-4 attribute-list-column-left">
                <ul class="list-group attribute-list-group">
                    <li class="list-group-item attribute-list-item">
                        Registered: <span style="float: right;" ng-bind="user.registrationDate | date:'dd. MMM. yyyy.'"></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 attribute-list-column-right">
                <li class="list-group-item attribute-list-item">
                    Last online: <span style="float: right;" ng-bind="user.lastLoginDate | date:'dd. MMM. yyyy. HH:ss'"></span>
                </li>
            </div>
        </div>
    </div>
</div>