<div class="panel panel-default panel-shadow">
    <div class="panel-heading">Character</div>
    <div class="panel-body">
        <h4 class="attribute-list-name">Basic attributes</h4>
        <div class="row">
            <attribute-list-column column-align="left" column-align-id="0" source="attributes.basic"></attribute-list-column>
            <attribute-list-column column-align="center" column-align-id="1" source="attributes.basic"></attribute-list-column>
            <attribute-list-column column-align="right" column-align-id="2" source="attributes.basic"></attribute-list-column>
        </div>

        <h4 class="attribute-list-name">Combat attributes</h4>
        <div class="row">
            <attribute-list-column column-align="left" column-align-id="0" source="attributes.combat"></attribute-list-column>
            <attribute-list-column column-align="center" column-align-id="1" source="attributes.combat"></attribute-list-column>
            <attribute-list-column column-align="right" column-align-id="2" source="attributes.combat"></attribute-list-column>
        </div>
    </div>
</div>